@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
body {
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
}
// General stylings
h2,
h3,
h4 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}
//preloader
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(359deg, #ffffff 0%, #8080ff 100%);
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s linear;
  opacity: 1;
  z-index: 99999999;
  & #gif {
    background-image: url(../img/initial-letter-tw-logo-design-template-linked-vector-29965859.webp);
    background-size: 200px 200px;
    background-color: inherit;
    background-repeat: no-repeat;
    width: 11rem;
    height: 11rem;
  }
}
// scroll to top
#top {
  position: fixed;
  width: 2rem;
  aspect-ratio: 1;
  background: $light-color;
  display: flex;
  justify-content: right;
  top: 70vh;
  left: 85vw;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid $dark-color;
  display: none;
  transition: all 0.3s;
  & svg {
    width: 2rem;
    aspect-ratio: 1;
    fill: $dark-color;
  }
}
//logo
.logo {
  width: 3rem;
  height: 3rem;
  background-image: url(../img/initial-letter-tw-logo-design-template-linked-vector-29965859.webp);
  background-repeat: no-repeat;
  // background-position: 0 20px;
  background-size: 100%;
}

//navbar
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding: 0 1rem;
  ul {
    display: flex;
    z-index: 1000;
    background: inherit;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;
    &:hover {
      color: $medium-color;
      border-bottom: 3px solid;
    }
    &.current {
      border-bottom: 3px solid $main-color;
    }
  }

  h3 {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    & i {
      display: none;
    }
    & a:hover {
      border-bottom: none;
    }
  }
  p {
    margin: auto 0;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }
  & > a:hover {
    border-bottom: none !important;
    color: none;
  }
}
// end of navbar
// modal container
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
  background: $main-color;
  color: $dark-color;
  padding: 15px;
}

.modal-content {
  padding: 20px;
  & p {
    text-align: center;
    font-size: 1.1rem;
  }
}

.modal-form div {
  margin: 15px 0;
  .flex-names {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    & div {
      width: 50%;
    }
  }
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid $dark-color;
  &:focus {
    border-bottom-color: $main-color;
  }
  // changes the color of the typing cursor in the input box
  caret-color: $main-color;
}
.contact-icons {
  position: relative;
  width: 100%;
  p {
    text-align: center;
    margin-bottom: 1rem;
    span {
      text-decoration: underline;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    li {
      & a {
        width: 2rem;
        height: 2rem;
        & img {
          width: 2rem;
          height: 2rem;
          border: 2px solid $medium-color;
          border-radius: 50%;
          &:hover {
            border: 2px solid $main-color;
          }
        }
      }
    }
  }
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 2rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// end
//header
#header {
  &-home {
    height: 100vh;
    color: #333;
    background-color: #fff;
    z-index: 10;
    width: 100vw;
    //header-container
    .header-container {
      background-color: #ffffff;
      background-image: linear-gradient(359deg, #ffffff 0%, #8080ff 100%);
    }
    .header-box {
      display: flex;
      width: 100vw;
      margin-top: -3rem;

      //header-content
      .header-content {
        text-align: center;
        padding-top: 20%;
        line-height: 1.3;
        width: 50vw;
        height: 100vh;
        .bottom-text {
          position: relative;
          top: -7rem;
          bottom: 0;
          left: 50vw;
          z-index: 10000;
          color: #fff;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          ::before {
            content: "";
            display: block;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            width: 5rem;
            height: 2px;
            background-color: #fff;
          }
        }
        h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 3.5rem;
          margin-bottom: 1rem;
          span {
            width: 25rem;
            height: 4rem;
            margin-left: 20%;
            margin-left: 1rem;
            font-size: 3rem;
            text-transform: uppercase;
            transition: 1s linear;
            text-align: center;
          }
          span::after {
            content: "";
            display: block;
            background: $main-color;
            width: 100%;
            height: 5px;
            position: relative;
            left: 0;
            top: 0;
            margin-top: -0.5rem;
          }
        }
        p {
          padding-left: 1rem;
        }
        .social-icons-home {
          background: inherit;
          width: 2rem;
          height: 13rem;
          position: relative;
          left: 95vw;
          bottom: 10vw;
          z-index: 10000;
          & ul {
            background: inherit;
            display: flex;
            flex-direction: column;
            width: 2rem;
            height: 13rem;
            ::after {
              content: "";
              display: block;
              position: relative;
              top: -3.5rem;
              bottom: 0;
              left: 1rem;
              width: 2px;
              height: 100%;
              background-color: #fff;
              z-index: -1;
            }
            li {
              width: 2rem;
              height: 2rem;
              margin: 0.3rem 0;

              & a {
                width: 2rem;
                height: 2rem;

                & img {
                  width: 2rem;
                  height: 2rem;
                  border: 2px solid #fff;
                  border-radius: 50%;
                  &:hover {
                    border: 2px solid $main-color;
                  }
                }
              }
            }
          }
        }
      }
      .header-content-two {
        width: 50vw;
        height: calc(100vh + 3rem);
        display: flex;
        justify-content: center;
        position: relative;
        top: -3rem;

        div {
          width: 30rem;
          height: calc(100vh + 3rem);
          position: relative;
          img {
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
          }
        }
      }
    }
  }
  &-inner {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
    height: 5rem;
    background: $bg-color;
    color: #fff;
    border-bottom: 2px solid $main-color;
  }
}
// silder
#hero {
  display: none;
}
#home {
  &-a {
    margin-top: 2rem;
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      svg {
        width: 2rem;
        height: 2rem;
        fill: $main-color;
      }
    }
  }
  &-b {
    .stats {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      &-title {
        font-size: 1.3rem;
      }
      &-number {
        font-size: 1.5rem;
        font-weight: bold;
      }
      div {
        padding: 2rem 3rem;
        &:nth-child(odd) {
          background: $medium-color;
        }
      }

      svg {
        width: 3rem;
        height: 3rem;
        fill: $main-color;
      }
      li {
        line-height: 2;
      }
    }
  }
  // Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;
      & div {
        transition: all 1s;
      }

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: $dark-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1.3rem;
        transition: all 1s;
      }

      // process-icon
      &-icon {
        display: inline-block;
        background: $dark-color;
        color: #fff;
        width: 100px;
        height: 100px;
        line-height: 90px;
        border-radius: 50%;
        padding: 0.5rem;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 120px;
          height: 120px;
          line-height: 120px;

          .process-step {
            background: $dark-color;
            color: #fff;
          }
        }
      }
    }
  }
}
//about page begins
.about-box {
  display: grid;
  grid-template-areas:
    "bio-image bio bio "
    "award-1 award-2 award-3";
  gap: 1.2rem;
  & .bio-image {
    grid-area: bio-image;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  & .bio {
    grid-area: bio;
    border-left: 3px solid $main-color;
    padding-left: 1.2rem;
  }
  & .award {
    &-1 {
      grid-area: award-1;
      & img {
        width: 13rem;
        height: 13rem;
      }
    }
    &-2 {
      grid-area: award-2;
      & img {
        width: 13rem;
        height: 13rem;
      }
    }
    &-3 {
      grid-area: award-3;
      & img {
        width: 13rem;
        height: 13rem;
      }
    }
  }
}
#about-skills {
  .skill-box {
    width: 90vw;
    h3 {
      text-align: left;
    }
    .progress-bar {
      width: 100%;
      height: 2rem;
      background: $medium-color;
      div {
        background: $main-color;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
#logo-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .logo-box {
    margin: auto;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  .testimonial-box {
    .testimonial-text {
      width: 15rem;
      height: 15rem;
      border-radius: 10px;
      padding: 1rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-family: "Arial", "Helvetica", sans-serif;
        & strong {
          font-size: 20px;
        }
      }
    }
    .testimonial-bio {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem 0;
      & .testimonial-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0 0.5rem;
      }
    }
  }
}
//work page begins
#work {
  &-a {
    .work-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      overflow: hidden;
    }
  }
}
.work {
  &-box {
    width: 20rem;
    height: 15rem;
    background: $main-color;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    &::after {
      content: "";
      position: absolute;
      display: block;
      background: inherit;
      opacity: 0.9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    }
    // Bring in main color overlay
    &:hover::after {
      transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }

    // Scale image on hover
    &:hover .work-box-image {
      transform: scale(1.2);
      img {
        width: 100%;
        height: 100%;
      }
    }

    // Bring in text on hover
    &:hover .work-box-text {
      opacity: 1;
      transform: translateY(0);
    }
    .work-box-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #fff;
      transform: translateY(-20%);
      transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
        transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms;

      &-wrap {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      &-heading {
        font-size: 2rem;
        padding: 0 1rem;
        margin: 5px 0 0 0;
      }

      &-description {
        text-transform: uppercase;
        font-size: 1.2rem;
        opacity: 0.7;
        margin: 0;
      }
    }
    &-image {
      height: auto;
      transform: translateZ(0);
      display: block;
      transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    }

    &-image:before {
      content: "";
      display: block;
      padding-top: 75%;
      overflow: hidden;
    }

    &-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0;
    }
  }
}
//footer stylings begin
footer {
  background: $dark-color;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 5rem;
  align-items: center;
  .footer {
    &-left {
      font-size: 1.2rem;
    }
    &-right {
      display: flex;
      .footer-icons {
        img {
          width: 2rem;
          height: 2rem;
          border: 2px solid #fff;
          border-radius: 50%;
          &:hover {
            border-color: $main-color;
          }
        }
      }
    }
  }
}
// you stopped at download(2).webp in the pixelied website
