@import "config";
@import "utilities";
.first-btn {
  background-color: $main-color;
  border-radius: 10px;
  &:hover {
    border: 1px solid $dark-color;
  }
}
@media (max-width: 780px) {
  #home {
    &-a {
      .specials {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &-b {
      .stats {
        grid-template-columns: repeat(2, 1fr);
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:first-child,
          &:last-child {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
//600px media queries

@media (max-width: 600px) {
  #main-nav {
    li {
      padding: 1rem 1rem;
    }
  }
  #home {
    &-a {
      .specials {
        display: block;
        & div {
          padding: 1rem 0;
        }
      }
    }
    &-b {
      .stats {
        display: block;
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:nth-child(even) {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        display: block;
      }
    }
  }
  footer {
    display: block;
    text-align: center;
    .footer {
      &-right {
        justify-content: center;
      }
    }
  }
}
//500px media query
@media (max-width: 500px) {
  #header {
    &-home {
      height: 10rem;
      border-bottom: 2px solid $main-color;
      background-position: 30% 20% / cover;
      #main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        .logo {
          margin-top: 0.5rem;
          left: 45%;
        }
      }
      //header-container
      .header-container {
        background-color: #ffffff;
        background-color: #ffffff;
        background-image: linear-gradient(359deg, #ffffff 0%, #8080ff 100%);
      }
      .header-box {
        display: block;
        margin-top: 0;

        //header-content
        .header-content {
          height: 50vh;
          width: 100vw;
          background-color: #514848;
          h1 {
            font-size: 1.5rem;
            span {
              height: inherit;
              font-size: 2rem;
            }
          }
        }
        .header-content-two {
          display: none;
        }
      }
    }
  }
}
// stop using import in css, go to fonts,google.com and get link
