@import "config";
@import "utilities";
.first-btn {
  background-color: $main-color;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    border: 1px solid $dark-color;
  }
}
@media (max-width: 780px) {
  #home {
    &-a {
      .specials {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &-b {
      .stats {
        grid-template-columns: repeat(2, 1fr);
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:first-child,
          &:last-child {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
//600px media queries

@media (max-width: 600px) {
  #main-nav {
    li {
      padding: 1rem 1rem;
    }
  }
  #home {
    &-a {
      .specials {
        display: block;
        & div {
          padding: 1rem 0;
        }
      }
    }
    &-b {
      .stats {
        display: block;
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:nth-child(even) {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        display: block;
      }
    }
  }
  #header {
    &-home {
      height: 10rem;
      border-bottom: 2px solid $main-color;
      background-image: $bg-image;
      background-position: 100% top;
      #main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        h3 {
          color: #fff;
        }
      }
      //header-container
      .header-container {
        background: inherit;
      }
      .header-box {
        display: none;
      }
    }
    &-inner {
      height: 10rem;
      border-bottom: 2px solid $main-color;
      background-image: $bg-image;
      background-position: 100% top;
      #main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        h3 {
          color: #fff;
        }
      }
    }
  }
  //work page begins
  #work {
    &-a {
      .work-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }
  .work {
    &-box {
      margin: 1rem;
    }
  }
  footer {
    display: block;
    text-align: center;
    .footer {
      &-right {
        justify-content: center;
      }
    }
  }
}
//500px media query
@media (max-width: 500px) {
}
//450px media query
@media (max-width: 450px) {
  #main-nav {
    & ul {
      // flex-direction: column;
      & li {
        padding: 1rem 0.5rem;
      }
    }
  }
}
// stop using import in css, go to fonts,google.com and get link
