@import "config";
@import "utilities";
.first-btn {
  background-color: $main-color;
  border-radius: 20px;
  transition: all 0.4s;
  &:hover {
    transform: translateY(5px);
    background-color: $dark-color !important;
    color: #fff;
  }
}
@media (max-width: 780px) {
  #home {
    &-a {
      .specials {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &-b {
      .stats {
        grid-template-columns: repeat(2, 1fr);
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:first-child,
          &:last-child {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
//720px media query
@media (max-width: 720px) {
  // silder
  #hero {
    display: contents;
    align-items: center;
  }

  .img-slider {
    position: relative;
    width: 100vw;
    height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
    background-image: linear-gradient(359deg, #fff 5%, #8080ff 95%);
    overflow: hidden;
  }

  .img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: none;
    transition: all 0.3s;
    padding: 0 0.5rem;
    text-align: center;
    line-height: 1.8;
  }

  .img-slider .slide.active {
    display: block;
  }
  .img-slider .slide h2 {
    font-size: 2rem;
    transition: all 0.3s;
    line-height: 1.2;
  }
  .img-slider .slide p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .img-slider .slide a {
    transition-delay: 450ms;
    font-size: 1.2rem;
  }

  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-slider .navigation .btn {
    border: 1px solid #2696e9;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .img-slider .navigation .btn.active {
    background: #2696e9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  #header {
    &-home {
      height: fit-content;
      padding: 1rem 0;
      background: #8080ff;
      border-bottom: 2px solid #fff;
      transition: all 1s;

      #main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: transparent;
        #closeMenu {
          display: none;
        }
        & ul {
          display: none;
        }
        & > a:last-child {
          display: none;
          transition: all 1s;
        }

        h3 {
          color: #fff;
          width: 100vw;
          justify-content: space-between;
          padding: 0 1rem;
          & a:first-child {
            border-bottom: none;
          }
          & i {
            width: 2rem;
            height: 2rem;
            margin-top: 1.5rem;
            cursor: pointer;
            display: contents;
          }
        }
      }
      .header-container {
        background: inherit;
      }
      .header-box {
        display: none;
      }
    }
    &-inner {
      height: fit-content;
      border-bottom: 2px solid $main-color;
      background: #8080ff;
      #main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        #closeMenu {
          display: none;
        }
        h3 {
          color: #fff;
          width: 100vw;
          justify-content: space-between;
          padding: 1rem;
          & i {
            width: 2rem;
            height: 2rem;
            margin-top: 1.5rem;
            cursor: pointer;
            display: contents;
            z-index: 10000000;
          }
        }
        & ul {
          display: none;
        }
        & > a:last-child {
          display: none;
          transition: all 1s;
        }
      }
    }
  }
  //about section
  .about-box {
    display: block;
    gap: 1.2rem;
    & .bio {
      border-left: none;
      border-top: 3px solid $main-color;
      margin: 1rem 0;
      padding: 2rem 0;
    }
    & .award {
      &-1 {
        margin: 1.5rem 0;
        img {
          fill: $main-color;
          width: 15rem;
          height: 15rem;
        }
      }
      &-2 {
        margin: 1.5rem 0;

        img {
          width: 15rem;
          height: 15rem;
        }
      }
      &-3 {
        margin: 1.5rem 0;

        img {
          fill: $main-color;
          width: 15rem;
          height: 15rem;
        }
      }
    }
  }
}
//600px media queries

@media (max-width: 600px) {
  #main-nav {
    li {
      padding: 1rem 1rem;
    }
  }
  #home {
    &-a {
      .specials {
        display: block;
        & div {
          padding: 1rem 0;
        }
      }
    }
    &-b {
      .stats {
        display: block;
        div {
          &:nth-child(odd) {
            background: none;
          }
          &:nth-child(even) {
            background: $medium-color;
          }
        }
      }
    }
    &-c {
      .process {
        display: block;
      }
    }
  }

  //testimonial-section
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  //work page begins
  #work {
    &-a {
      .work-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }
  .work {
    &-box {
      margin: 1rem;
    }
  }
  footer {
    display: block;
    text-align: center;
    .footer {
      &-right {
        justify-content: center;
      }
    }
  }
}
//500px media query
@media (max-width: 500px) {
  //testimonial-section
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
  //footer stylings begin
  footer {
    height: 7rem;
  }
}
//450px media query
@media (max-width: 450px) {
  #main-nav {
    & ul {
      // flex-direction: column;
      & li {
        padding: 1rem 0.5rem;
      }
    }
  }
}
// stop using import in css, go to fonts,google.com and get link
