.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
  line-height: 1.7;
}

.increase {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.underline {
  width: 4rem;
  height: 3px;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  font-weight: 100;
}

.swiper {
  width: 600px;
  height: 300px;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #ffbc00;
}

.button {
  position: relative;
  width: 200px;
  padding: 20px 0;
  margin: 10px 0;
  background: #ffbc00;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 10;
  transition: color 0.5s;
}
.button:hover {
  color: #fff;
}
.button span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  transition: all 0.5s;
}
.button:hover span {
  width: 100%;
}

.bg-main {
  background: #ffbc00;
  color: #333;
}
.bg-light {
  background: #f4f4f4;
  color: set-text-color(#f4f4f4);
}
.bg-dark {
  background: #333;
  color: #f4f4f4;
}
.bg-medium {
  background: #ccc;
  color: #333;
}

/* animation to make things fade in from bottom */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

/* animation to make things fade in from left */
.hidden2 {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.3s;
}

.show2 {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hidden3 {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 0.3s;
}

.show3 {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

/* animation to make things fade in from bottom */
.anim-bottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.anim-bottom-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.anim-top {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 0.3s;
}

.anim-top-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.trans-1 {
  transition-delay: 200ms;
}

.trans-2 {
  transition-delay: 400ms;
}

.trans-3 {
  transition-delay: 600ms;
}

.py-5 {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.first-btn {
  background-color: #ffbc00;
  border-radius: 20px;
  transition: all 0.4s;
}
.first-btn:hover {
  transform: translateY(5px);
  background-color: #333 !important;
  color: #fff;
}

@media (max-width: 780px) {
  #home-a .specials {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-b .stats {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-b .stats div:nth-child(odd) {
    background: none;
  }
  #home-b .stats div:first-child, #home-b .stats div:last-child {
    background: #ccc;
  }
  #home-c .process {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 720px) {
  #hero {
    display: contents;
    align-items: center;
  }
  .img-slider {
    position: relative;
    width: 100vw;
    height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
    background-image: linear-gradient(359deg, #fff 5%, #8080ff 95%);
    overflow: hidden;
  }
  .img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: none;
    transition: all 0.3s;
    padding: 0 0.5rem;
    text-align: center;
    line-height: 1.8;
  }
  .img-slider .slide.active {
    display: block;
  }
  .img-slider .slide h2 {
    font-size: 2rem;
    transition: all 0.3s;
    line-height: 1.2;
  }
  .img-slider .slide p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .img-slider .slide a {
    transition-delay: 450ms;
    font-size: 1.2rem;
  }
  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .img-slider .navigation .btn {
    border: 1px solid #2696e9;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  .img-slider .navigation .btn.active {
    background: #2696e9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  #header-home {
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
    background: #8080ff;
    border-bottom: 2px solid #fff;
    transition: all 1s;
  }
  #header-home #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: transparent;
  }
  #header-home #main-nav #closeMenu {
    display: none;
  }
  #header-home #main-nav ul {
    display: none;
  }
  #header-home #main-nav > a:last-child {
    display: none;
    transition: all 1s;
  }
  #header-home #main-nav h3 {
    color: #fff;
    width: 100vw;
    justify-content: space-between;
    padding: 0 1rem;
  }
  #header-home #main-nav h3 a:first-child {
    border-bottom: none;
  }
  #header-home #main-nav h3 i {
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    display: contents;
  }
  #header-home .header-container {
    background: inherit;
  }
  #header-home .header-box {
    display: none;
  }
  #header-inner {
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: 2px solid #ffbc00;
    background: #8080ff;
  }
  #header-inner #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #header-inner #main-nav #closeMenu {
    display: none;
  }
  #header-inner #main-nav h3 {
    color: #fff;
    width: 100vw;
    justify-content: space-between;
    padding: 1rem;
  }
  #header-inner #main-nav h3 i {
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    display: contents;
    z-index: 10000000;
  }
  #header-inner #main-nav ul {
    display: none;
  }
  #header-inner #main-nav > a:last-child {
    display: none;
    transition: all 1s;
  }
  .about-box {
    display: block;
    gap: 1.2rem;
  }
  .about-box .bio {
    border-left: none;
    border-top: 3px solid #ffbc00;
    margin: 1rem 0;
    padding: 2rem 0;
  }
  .about-box .award-1 {
    margin: 1.5rem 0;
  }
  .about-box .award-1 img {
    fill: #ffbc00;
    width: 15rem;
    height: 15rem;
  }
  .about-box .award-2 {
    margin: 1.5rem 0;
  }
  .about-box .award-2 img {
    width: 15rem;
    height: 15rem;
  }
  .about-box .award-3 {
    margin: 1.5rem 0;
  }
  .about-box .award-3 img {
    fill: #ffbc00;
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 600px) {
  #main-nav li {
    padding: 1rem 1rem;
  }
  #home-a .specials {
    display: block;
  }
  #home-a .specials div {
    padding: 1rem 0;
  }
  #home-b .stats {
    display: block;
  }
  #home-b .stats div:nth-child(odd) {
    background: none;
  }
  #home-b .stats div:nth-child(even) {
    background: #ccc;
  }
  #home-c .process {
    display: block;
  }
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  #work-a .work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .work-box {
    margin: 1rem;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer .footer-right {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
  footer {
    height: 7rem;
  }
}
@media (max-width: 450px) {
  #main-nav ul li {
    padding: 1rem 0.5rem;
  }
}