.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
  line-height: 1.7;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #ffbc00;
}

.increase {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.underline {
  width: 4rem;
  height: 3px;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  font-weight: 100;
}

.hidden {
  opacity: 0;
  filter: blur(7px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

/* animation to make things fade in from left */
.hidden2 {
  opacity: 0;
  filter: blur(7px);
  transform: translateX(-100%);
  transition: all 0.3s;
}

.show2 {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.trans-1 {
  transition-delay: 200ms;
}

.trans-2 {
  transition-delay: 400ms;
}

.trans-3 {
  transition-delay: 600ms;
}

.py-5 {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.first-btn {
  background-color: #ffbc00;
  border-radius: 10px;
}
.first-btn:hover {
  border: 1px solid #333;
}

@media (max-width: 780px) {
  #home-a .specials {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-b .stats {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-b .stats div:nth-child(odd) {
    background: none;
  }
  #home-b .stats div:first-child, #home-b .stats div:last-child {
    background: #ccc;
  }
  #home-c .process {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #main-nav li {
    padding: 1rem 1rem;
  }
  #home-a .specials {
    display: block;
  }
  #home-a .specials div {
    padding: 1rem 0;
  }
  #home-b .stats {
    display: block;
  }
  #home-b .stats div:nth-child(odd) {
    background: none;
  }
  #home-b .stats div:nth-child(even) {
    background: #ccc;
  }
  #home-c .process {
    display: block;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer .footer-right {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  #header-home {
    height: 10rem;
    border-bottom: 2px solid #ffbc00;
    background-position: 30% 20%/cover;
  }
  #header-home #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    padding: 0;
  }
  #header-home #main-nav .logo {
    margin-top: 0.5rem;
    left: 45%;
  }
  #header-home .header-content {
    display: none;
  }
}